@import "tailwindcss";

@font-face {
  font-family: 'primary-font';
  src: url(./assets/fonts/Sprintura\ Demo.otf);
}

:root {
  --primary-gray : #DCDCDC;
  --primary-orange : #EC5911;
  --primary-white : #FFFFFF;
  --primary-black : #0E0E0E;

  --secodnary-text : #3B3B3B;
  --secondary-black : #0b0b0b;
  --glass-black : rgba(0, 0, 0, 0.2);

  --soft-blue : #605EB1;
  --light-yellow : #E9DF7D;
  --baby-pink : #DDBEC6;
  --mint-green : #B3DEA8;
}

*{
  box-sizing: border-box;
}
html ,
 body {
  height: 100%;
  width: 100%;
}
body {
  background-color: var(--primary-black);
  color: whitesmoke;
}

.inner-shadow-text {
  color: transparent;
  background: linear-gradient(#EC5911, #EC5911 , blue);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 2px 3px rgb(11, 11, 11);
}
